/* style.scss */

/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Atoos app
Version:	0.1
Author:	Ardeshir Eshghi (ardi)

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Imported CSS (Normalize, Variables, Mixins)
2. Base styles
3. Custom styles

*/

 @import "compass";
 @import "base/_core";
 

 
/***************************************************** ---User defined styles--- ******************************************************/


/* ==========================================================================
   Main layout styles
   ========================================================================== */

   @import "layout/layout";



/* ==========================================================================
   Helper classes (styles)
   ========================================================================== */

   @import "helpers/_states";
